---
title: Capabilities
filename: index

---
{% include breadcrumbs.html %}

<div id="capabilities-container">
    <section id="capabilities-header" class="medium bg-dark">
        <h1 class="text-lg-center text-white">What We Do</h1>
    </section>

    {% for capability in site.capabilities %}
    {% if capability.published %}

    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-12">
                    <span class="fa-stack fa-4x card-img-top w-100">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas {{capability.thumbnail}} fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-lg col-md-6 col-12">
                    <h2>
                        {{ capability.title }}
                    </h2>
                    <h6>
                        {% if capability.show_date %}
                        {{ capability.date | date: "%B %-d %Y" }}
                            {{ capability.date | date: "%B %-d %Y" }}
                        {% endif %}
                    </h6>
                    <hr>
                    {% if capability.description %}
                    <p>
                        {{ capability.description }}
                    </p>
                    {% endif %}

                </div>
            </div>

        </div>
    </section>

    {% endif %}
    {% endfor %}
</div>
