<!-- Navigation -->
<header class="navbar-default sticky-top navbar-shrink navbar-header py-3">

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid mx-2">

            <a href="{{ site.url }}" class="navbar-brand">
                <span class="">{{site.title}}</span>
            </a>
            <div class="navbar">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavItems" aria-controls="navbarNavItems" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse user-menu" id="navbarNavItems">
                <ul class="navbar-nav nav">
                    {% for page in site.data.sitemap.sites %}
                        {% if page.title and page.title != "Home" %}
                        <li class="nav-item"><a class="nav-link" href="{{ page.url | relative_url }}">{{ page.title }} </a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </nav>
</header>