<!-- Navigation -->
<header class="navbar-default sticky-top navbar-shrink navbar-header py-3">

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid mx-2">

            <a href="#" class="navbar-brand">
                <span class="">{{site.title}}</span>
            </a>
            <div class="navbar-dark">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavItems" aria-controls="navbarNavItems" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse user-menu" id="navbarNavItems">
                <ul class="navbar-nav nav">
                    <li class="nav-item"><a href="#mission" class="nav-link">Mission</a></li>
                    <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="#team" class="nav-link">Team</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link">Contact Us</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>


<!-- Header -->
<header class="header-image">
    <div class="container">
        <div class="intro-text">
            <div class="col-lg-12 text-center rounded header-box p-5">
                <div class="row">
                    <span class="intro-heading text-primary p-0">ADAPTECH</span>
                </div>
                <div class="row">
                    <span class="intro-lead-in p-0">Stark and Versatile Solutions</span>
                </div>
                <div class="row btn">
                    <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--    {% include animation.html %}-->
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->