<!-- Header -->
<header class="header-image">
    <div class="container">
        <div class="intro-text d-flex align-items-center justify-content-center">
            <div class="col-6 text-center rounded header-box p-5 h-50">
                <div class="row">
                    <span class="intro-heading text-primary p-0">ADAPTECH</span>
                </div>
                <div class="row">
                    <span class="intro-lead-in p-0">Versatile Technical Solutions</span>
                </div>
                <div class="row btn">
                    <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
                </div>
            </div>
        </div>
    </div>
</header>