<!-- About Section -->
<section id="mission" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{site.data.mission.header_text}}</h2>
                <p class="section-subheading text-muted mb-5">{{site.data.mission.summary }}</p>
                <hr>
                <h3>{{site.data.mission.mission_statement }}</h3>
                <hr>
            </div>
        </div>

        <div class="mt-5 row text-center justify-content-center">
            <h2 class="section-heading">{{site.data.mission.value_header}}</h2>
            {% for value in site.data.mission.value_list %}
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 my-1">
                <div class="flip-box ">
                    <div class="flip-box-inner">
                        <div class="flip-box-front shadow">
                            <img id="img-mission" class=""
                                src="{{ value.background_image | prepend: 'img/mission/' | append: '.png' }}"
                                alt="{{value.background_image}} picture">
                            <h2>{{ value.key }}</h2>


                        </div>
                        <div class="flip-box-back h-100 w-100 shadow">
                            <div class="justify-content-center m-5">
                                {{ value.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>