<!-- jQuery Version 1.11.0 -->
<script src="/assets/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/classie.js"></script>

<!-- Contact Form JavaScript -->
<script src="/assets/js/jqBootstrapValidation.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/assets/js/agency.js"></script>


<!-- Anime.js Animations -->
<!-- Src -->
<script src="/assets/js/anime.min.js"></script>
<script src="/assets/js/modernizr-custom.js"></script>
<!-- Scripts -->