<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Core services feature entire software development lifecycle with continuous integration and long-term support.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design & Development</h4>
                    <div>
                        <ul class="service-ul-left-align">
                            <li>
                                Create survivability and vulnerability strategies
                            </li>
                            <li>
                                Analysis of alternatives
                            </li>
                        </ul>
                    </div>
                    <!-- <p class="text-muted">Create survivability and vulnerability strategies</p> -->
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Engineering</h4>
                    <div>
                        <ul class="service-ul-left-align">
                            <li>
                                Systems Engineering
                            </li>
                            <li>
                                Development Operations and Development Security Operations
                            </li>
                        </ul>
                    </div>
                    <!-- <p class="text-muted">System</p> -->
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Integration</h4>
                    <div>
                        <ul class="service-ul-left-align">
                            <li>
                                Lorem
                            </li>
                        </ul>
                    </div>
                    <!-- <p class="text-muted">Using proven scripting and problem solving skills to increase performance and lower cost.</p> -->
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sustainment</h4>
                    <div>
                        <ul class="service-ul-left-align">
                            <li>
                                Provide guidance and solutions
                            </li>
                            <li>
                                Detailed monitoring and analysis
                            </li>
                            <li>
                                Maintenance
                            </li>
                        </ul>
                        <!-- <p class="text-muted">Using proven scripting and problem solving skills to increase performance and lower cost.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>