<!-- Services Section -->
<section id="services" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{site.data.services.header_text}}</h2>
                <h3 class="section-subheading text-muted">{{site.data.services.subheader_text}}</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for service in site.data.services.service_list %}
            <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    {% if site.data.services.service_list_images_enabled %}
                    <div class="row mt-2">
                        <span class="fa-stack fa-4x card-img-top w-100">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa {{service.image}} fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    {% endif %}

                    <div class="card-body">
                        <div class="row service-header-wrapper">
                            <h5 class="card-title text-center m-auto" style="height: 48px;">{{service.header}}</h5>
                        </div>
                        <div class="row my-2">
                            <div>
                                <p class="card-text text-center service-summary" style="height: 168px;">{{service.summary}}</p>
                            </div>
                        </div>
                        <div class="row my-2">
                            <button class="btn btn-primary text-center col-sm-6 mx-auto" type="button"
                                data-bs-toggle="collapse" data-bs-target="#cardDetailsCollapse{{forloop.index}}"
                                aria-expanded="false" aria-controls="cardDetailsCollapse{{forloop.index}}">
                                Details
                            </button>
                        </div>
                        <div class="row">
                            <div class="collapse" id="cardDetailsCollapse{{forloop.index}}">
                                <div>
                                    <ul class="mt-2">
                                        {% for bullet in service.bullets %}
                                        <li>{{bullet}}</li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div> <!-- card body -->

                </div> <!-- card-->

            </div> <!-- card wrapper -->
            {% endfor %}
        </div>
    </div>
</section>