---
layout: default
---

{% include breadcrumbs.html %}

<div id="capabilities-detail-container">
    <!-- header -->
    <div>
        {% include capabilities/capability-header.html title=page.title %}
    </div>
    <!-- body -->
    <div>
        {%
            include capabilities/capability-body.html
            content=page.content
            title=page.title
            date=page.date
            category=page.category
            img=page.img
            thumbnail=page.thumbnail
            alt=page.alt
            description=page.description
        %}
    </div>
    <!-- misc -->
</div>
